body{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    background-color: rgb(224, 152, 217);
}
a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: black;
}

a:hover{
    color: aqua;
}

li{
    list-style-type: none;
    gap: 10px;
    cursor: pointer;
}
.list{
    display: flex;
    gap: 20px;
}
.main{
    height: 97vh;
    background-image: url(./Images/backgrd.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.main1{
    height: 97vh;

}
.foot{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: darkgray;
    padding: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    height: 50%;
    width:30%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-top: 10%;
}

.login-con{
    display: flex;
    flex-direction: column;
    height: 30%;
    width:20%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 10%;
}
form{
    display: flex;
    flex-direction: column;
}
.form1{
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 75%;
}
.btn{
    padding: 6px 10px;
    border-radius: 10px;
    background-color: aquamarine;
    font-weight: 500;
    font-size: 1rem;
    width: 20%;
    cursor: pointer;
}
.btn:hover{
    background-color: forestgreen;
}
.login-a{
    color: red;
    font-size: 1.3rem;
}
.login-a:hover{
    color: darkorange;
}
.login{
    font-size: 1.3rem;
}

.searchbar{
    display: flex;
    gap: 0;
    border-radius: 2rem;
    width: 80%;
}

#search{
    border-top-left-radius: 1.9rem;
    border-bottom-left-radius: 1.9rem;
    padding: 20px;
    font-size: 1rem;
    width: 30%;
    margin-top: 10%;
    margin-left: 40%;
    
}

#search:focus{
    outline: none;
}

#btn{
    border-top-right-radius: 1.9rem;
    border-bottom-right-radius: 1.9rem;
    border-left: none;
    margin-top: 10%;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    background-color: rgb(59, 161, 173);
}

#btn:focus{
    outline: none;
}

.report{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 6%;
    width: 50%;
    margin-left: 30%;
    font-size: 25px;
}

.child{
    border-radius: 10px;
    text-align: center;
    height: 100px;
    padding-top: 70px;
    font-weight: 650;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.child1{
    grid-column: span 2;
    font-size: 60px;
    padding-bottom: 30px;
    background-image: url(./Images/city.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.child2{
    grid-column: span 1;
    background-image: url(./Images/temp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden{
    display: none;
}

#feels{
    background-image: url(./Images/feels.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#desc{
    background-image: url(./Images/weather.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


#humid{
    background-image: url(./Images/humid.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}